* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background: #dad9d9;
}

.card1 {
  width: 18em;
  height: 32em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border: 1px solid black;
  border-radius: 1em;
  padding: 1em;
  background: #222831;
  -webkit-box-shadow: 0.3em 0.5em 0.5em #5f5f5f;
          box-shadow: 0.3em 0.5em 0.5em #5f5f5f;
}

.card1 .remitente {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
}

.card1 .remitente .left-arrow {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 1.3em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card1 .remitente .left-arrow i {
  font-size: .9em;
}

.card1 .remitente .perfil {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: .5em;
  width: 100%;
  min-height: 2em;
  border-radius: 50%;
  background: url(item-tienda.jpg) center no-repeat;
  background-size: cover;
}

.card1 .remitente .last-state {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-left: .3em;
}

.card1 .remitente .last-state h6 {
  letter-spacing: .1em;
}

.card1 .remitente .last-state p {
  font-size: .6em;
  margin-top: .3em;
}

.card1 .remitente .user-icons {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card1 .remitente .user-icons i {
  font-size: .9em;
}

.card1 .top1 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: #174b3e;
  border-radius: 1em;
  margin: .3em 0;
}

.card1 .top1 img {
  border-radius: .5em;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card1 .message1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  max-height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #38404d;
  color: white;
  border-radius: .5em;
  padding: .3em;
  margin: .3em 0;
  font-size: .9em;
}

.card1 .message2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #174b3e;
  color: white;
  border-radius: .5em;
  padding: .3em;
  margin: .3em 0;
  font-size: .9em;
}

.card1 .input-user {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  margin: .3em 0;
}

.card1 .input-user .span1 {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 2em;
  background: #38404d;
  border-radius: 1.5em;
  padding: 0 .3em;
  color: beige;
}

.card1 .input-user .span1 i {
  font-size: .9em;
}

.card1 .input-user .span1 .fa-grin-squint {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card1 .input-user .span1 p {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  font-size: .9em;
}

.card1 .input-user .span1 .fa-paperclip {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 .7em;
}

.card1 .input-user .span1 .fa-camera {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card1 .input-user .span2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card1 .input-user .span2 i {
  color: white;
  padding: .5em .7em;
  background: #12aa63;
  border-radius: 50%;
  font-size: 1em;
}

.card2 {
  width: 18em;
  height: 32em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border: 1px solid black;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
  background: url(sitio.jpg) center no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0.3em 0.5em 0.5em #5f5f5f;
          box-shadow: 0.3em 0.5em 0.5em #5f5f5f;
}

.card2 .pagina {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.295);
  border-radius: 1em;
}

.card2 .pagina h1 {
  color: beige;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.card2 .registro {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card2 .registro button {
  border: none;
  outline: none;
  width: 8em;
  height: 2em;
  margin: .4em;
  border-radius: .3em;
}

.card2 .registro button:nth-child(1) {
  color: black;
  background: beige;
  font-weight: 700;
}

.card2 .registro button:nth-child(2) {
  color: white;
  background: transparent;
  border: 1px solid white;
}

.card3 {
  width: 18em;
  height: 32em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border: 1px solid black;
  border-radius: 1em;
  margin: 1em;
  background: white;
  -webkit-box-shadow: 0.3em 0.5em 0.5em #5f5f5f;
          box-shadow: 0.3em 0.5em 0.5em #5f5f5f;
}

.card3 .mid3 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url(item-tienda.jpg) center no-repeat;
  background-size: cover;
  border-radius: 1em 1em 0 0;
  padding: 1em 1em 0 1em;
}

.card3 .bottom3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  width: 100%;
  height: 100%;
  padding: 1em 1em 0 1em;
}

.card3 .bottom3 h3 {
  margin: .5em 0;
}

.card3 .bottom3 h4 {
  margin: .5em 0;
  font-size: .7em;
  color: grey;
}

.card3 .bottom3 p {
  margin: .5em 0 2.5em 0;
  color: grey;
  font-size: .7em;
}

.card3 .bottom3 button {
  width: 100%;
  border: none;
  outline: none;
  background: #000;
  color: white;
  padding: .5em 0;
  border-radius: .5em;
}
/*# sourceMappingURL=style.css.map */